* {
  box-sizing: border-box;
}

:root {
  --light: 50%;
  --hue: 200;
  --focus-hue: 350;
  --visited-hue: 315;

  --link-color: hsl(var(--hue) 50% var(--light) / 1);
  --link-underline-color: hsl(var(--hue) 50% var(--light) / 0.2);
  --link-underline-hover-color: hsl(var(--hue) 100% var(--light) / 0.667);

  --link-visited-color: hsl(var(--visited-hue) 50% var(--light) / 1);
  --link-visited-hover-underline-color: hsl(
    var(--visited-hue) 75% var(--light) / 0.667
  );
  --link-focus-color: hsl(var(--focus-hue) 50% var(--light) / 1);
}

a:link {
  color: var(--link-color);
  text-decoration-skip-ink: none;
  text-decoration-style: wavy;
  text-decoration-color: var(--link-underline-color);
  transition: 250ms text-decoration-color;
}
a:hover,
a:focus,
a:active {
  text-decoration-skip-ink: initial;
  text-decoration-style: initial;
}
a:hover {
  text-decoration-color: var(--link-underline-hover-color);
}
a:visited {
  color: var(--link-visited-color);
}
a:visited:hover {
  text-decoration-color: var(--link-visited-hover-underline-color);
  text-decoration-thickness: 200%;
}
a:active,
a:focus {
  color: var(--link-focus-color);
  text-decoration-color: var(--link-focus-underline-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: 66%;
  }

  body {
    background: #060606;
    color: #e6e6e6;
  }
}

body {
  max-width: 1024px;
  font-size: 130%;
  font-family: "Atkinson Hyperlegible";
  margin-bottom: 1em;
  padding-bottom: 1em;
}

p {
  line-height: 166%;
  margin: 1.5em 0;
}

p > code,
a > code {
  font-size: 110%;
}

p > code {
  background: #272822;
  color: #f8f8f2;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

pre code[class*="language-"] {
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

.highlight pre {
  background: #272822;
  padding: 1em;
  max-width: 100%;
  overflow-x: scroll;
  border: 1px solid #555;
}

pre {
  margin: 0;
  padding: 1em;
}

ul {
  padding-left: 1.5em;
}

.sixteen-nine {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

li {
  margin: 0.5em 0;
  line-height: 125%;
}

.error {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.footnotes {
  border-top: 1px solid #666;
  margin-top: 1em;
}

#footnote-label {
  text-transform: lowercase;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2")
      format("woff2"),
    url("/assets/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
    url("/assets/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
    url("/assets/fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    url("/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
      format("woff2"),
    url("/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff")
      format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

sup {
  display: inline-block;
  padding-left: 0.2em;
}

summary {
  cursor: pointer;
}

article img {
  height: auto;
}
