---
import BaseHead from '../components/BaseHead.astro';
import BlogIndexLine from '../components/BlogIndexLine.astro';
import { title, description, baseURL } from "../meta"
let posts = Astro.fetchContent("./log/*.md")
	.sort((a,b) => b.publishDate > a.publishDate ? 1 : -1)
	.map(post => {
		post.description = post.description ?? post.title;
		return post;
	});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} baseURL={baseURL} />
	</head>
	<body>

		<h1>brianloveswords</h1>
		<h2>logs</h2>
		<ul>
			{ posts.map(post => <BlogIndexLine post={post}/>) }
		</ul>
		<h2>websites I like</h2>
		<ul>
			<li><a href="https://copyconstruct.medium.com/">copyconstruct.medium.com</a></li>
			<li><a href="https://danluu.com/">danluu.com</a></li>
			<li><a href="https://fasterthanli.me/">fasterthanli.me</a></li>
			<li><a href="https://www.hillelwayne.com/">hillelwayne.com</a></li>
			<li><a href="https://jvns.ca/">jvns.ca</a></li>
			<li><a href="https://lexi-lambda.github.io/">lexi-lambda.github.io</a></li>
			<li><a href="https://programmingisterrible.com/">programmingisterrible.com</a></li>
			<li><a href="https://vicki.substack.com/people/919000-vicki-boykis">vicki.substack.com</a></li>
		</ul>
		<h2>other places where I'm me</h2>
		<ul>
			<li><a href="https://bandcamp.com/brianloveswords">bandcamp.com/brianloveswords</a></li>
			<li><a href="https://twitter.com/brianloveswords">twitter.com/brianloveswords</a></li>
			<li><a href="https://github.com/brianloveswords">github.com/brianloveswords</a></li>
			<li><a href="mailto:brianloveswords@gmail.com">brianloveswords@gmail.com</a></li>
		</ul>
	</body>
</html>
