---
import BlogHeader from "./BlogHeader.astro";

export interface Props {
	title: string;
	publishDate: string;
	listening: string;
}

let { title, publishDate, listening } = Astro.props;
---

<div class="layout">
	<article class="content">
		<main>
			<BlogHeader {title} {publishDate} {listening} />
			<slot />
		</main>
	</article>
</div>
