---
import { formatDate } from '../util';

export interface Post {
	url: string;
	description: string;
	title: string;
	publishDate: string;
}

export interface Props {
	post: Post;
}

const { post } = Astro.props;
const { url, publishDate, description } = post
---
<style>
.date {
	font-family: monospace;
}

a {
	padding-left: 0.5em;
}
</style>
<li class="log-line">
	<span class="date">{formatDate(publishDate)}</span>
	<a href={url}><em>{description}</em></a>
</li>
