---
export interface Props {
	title: string;
	publishDate: string;
	listening: string;
}

const { title, publishDate, listening } = Astro.props;
---

<div class="layout">
	<article class="content">
		<main>
			<header>
				<h1>{title}</h1>
				<h2>{publishDate}</h2>
				{listening && <h3>{listening}</h3>}
			</header>

			<slot />
		</main>
	</article>
</div>
