---
import BlogHeader from "./BlogHeader.astro";

export interface Props {
	title: string;
	publishDate: string;
	listening?: string;
	description?: string;
}

let { title, publishDate, description, listening } = Astro.props;
---

<div class="layout">
	<article class="content">
		<main>
			<BlogHeader title={title} publishDate={publishDate} description={description} listening={listening} />
			<slot />
		</main>
	</article>
</div>
