---
import { formatDate } from '../util';

export interface Post {
	url: string;
	title: string;
	publishDate: string;
	sizeWarning?: string;
}

export interface Props {
	post: Post;
}

let { post } = Astro.props;
let { url, publishDate, title } = post

url = (url.endsWith('/') ? url : url + '/');
---
<style>
.date {
	font-family: monospace;
}

.size-warning {
	opacity: 0.5;
}

.size-warning:before {
	content: '⚠️ ';
}

a {
	padding-left: 0.5em;
}
</style>
<li class="log-line">
	<span class="date">{formatDate(publishDate)}</span>
	<a href={url}><em>{title}</em></a>
	{post.sizeWarning && <span class="size-warning">{post.sizeWarning}</span>}
</li>
